{% extends "::layout.html.twig" %}
{% block title %}
{{ parent() }}
{% endblock %}
{% block stylesheets %}
{% endblock %}
{% block body %}
<h2>Détail abonné pour</h2>
{% endblock %}
{% block javascripts %}
{% endblock %}